footer{
    background-color: #004E36;
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "logo . . carrot"
        "shopping about help carrot"
        ". icons icons carrot"
        ". . . .";
    justify-items: center;
    text-shadow: .5px .5px 1px black;
}

.logo {
    height: 150px;
    width: 150px;
    grid-area: logo;
}

.carrot {
    grid-area: carrot;
    justify-self: end;
}

.shopping {
    grid-area: shopping;
    
}

.about {
    grid-area: about;
}

.help {
    grid-area: help;
}

.icons {
    grid-area: icons;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

@media screen and (max-width: 320px) {
    footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "logo"
        "shopping" 
        "about" 
        "help"
        "icons"
        ".";
    justify-items: left;
    padding: 1rem;
    gap: 10px;
    }
    
    .logo {
        justify-self: center;
    }

    .carrot {
        display: none;
    }
}