.recipes {
    padding: 2rem;
}

.recipes img {
    max-height: 12rem;
}

.recipe-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    padding: 2rem;
}